# Rutas relativas desde la raíz del proyecto
CREDENTIALS_PATH=XXXX   # coloca la ruta de tus credenciales aquí.
TOKEN_PATH=XXXX         # Indica la ruta donde se generará al ejecutar el script.

# Configuraciones adicionales
MAX_RESULTS=50
ARCHIVE_AFTER_DAYS=15

LOG_LEVEL="INFO"
DEBUG=0

#JOBS
CLASSIFY="newer_than:7d -label:Processed"
OLD_EMAIL_READ="older_than:30d label:Processed label:Promos is:unread"