# Rutas relativas desde la raíz del proyecto
CREDENTIALS_PATH=XXXX   # coloca la ruta de tus credenciales aquí.
TOKEN_PATH=XXXX         # Indica la ruta donde se generará al ejecutar el script.

# Configuraciones adicionales
MAX_RESULTS=50
ARCHIVE_AFTER_DAYS=15